body{
    font-family: sans-serif, arial;
    color: #DCDCDC;
    background-color: #2C2F33;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    color: white;
}a:hover{
    text-decoration: none;
    color: #004d99;
}

img {
    pointer-events: none;
    user-select: none;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .open>.dropdown-toggle .btn-outline-light {
    color: grey;
    background-color:#D8D8D8;
    border-color: grey;
    
}
/**********************************/

.home .center-row{
    float: none;
    margin: auto;
    padding-bottom: 1em;
}

.home .vertical-space{
    float: none;
    margin: auto;
    padding-bottom: 3em;
}

.home h1 a{
    color: #4A4F64;
}.home h1  a:hover{
    text-decoration: none;
}

.home .processing-img{
    width: 4em;
    height: auto;
}

.home .download-link-box{
    resize: vertical;
}

.home .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/**********************************/

.toast-down{
    background-image: url("../res/images/warning.png") !important;
    background-color: #8c8c8c;
}



